:root {
  --typography-font: 'Source Sans Pro', sans-serif;
  --typography-font-headings: 'Source Sans Pro', san-serif;
  --typography-code: 'Inconsolata', monospace;
  --typography-size: 1.4em;
  --typography-weight: 300;
  --typography-strong: 400;
  --typography-line-height: 1.6em;

  --grid-gutter-size: 1.25em;

  --colors-dark-gray: #a8b2bd;
  --colors-light-gray: #e2e5e9;
  --colors-wash: #ecf0f1;
  --colors-black: #353535;
  --colors-red: #ff7772;
  --colors-green: #67ba72;

  --colors-dark-green: #2b7621;
  --colors-yellow: #ffdd69;
  --colors-blue: #0074e6;
  --colors-magenta: #a700ff;
  --colors-cyan: #92f9f6;
  --colors-white: #fdfdfd;
  --colors-crimson: #cc0066;

  --spacing-xs: 0.5em;
  --spacing-sm: 1em;
  --spacing-md: 2em;
  --spacing-lg: 3em;
  --spacing-xl: 4em;
}
